<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>IFO</th>
                <th>Manzil</th>
                <th>Mahalla nomi</th>
                <th>Temir daftarga kirish sababi</th>
                <th>Ko'rish</th>

            </tr>
        </thead>
        <tbody>
            {{#each irons}}
            <tr>
                <td>{{name}}</td>
                <td>{{adress}}</td>
                <td>{{namem}}</td>
                <td>{{group}}</td>
                <td>
                    <a href="/ironb/{{_id}}" class="btn btn-success">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>