<form action="/book/save" method="post" class="user" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <select name="genreId">
                    {{!-- <option></option> --}}
                    {{#each genres}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="namem" value="{{book.namem}}" placeholder="Mahlla nomi"
                    required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="adress" placeholder="Manzil" required value="{{book.adress}}" >
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="name" placeholder="IFO" required value="{{book.name}}">
            </div>
        </div>
        {{!-- <h7>Tug'ilgan sana:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="date" class="form-control form-control-user" name="year" placeholder="Tug'ilgan sana"
                    required size="4" value="{{book.year}}">
            </div>
        </div>
        {{!-- <h7>Oilada nechi kishi bor:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="count"
                    placeholder="Oilada nechi kishi bor?" required value="{{book.count}}">
            </div>
        </div>

        {{!-- <h7>Oilaviy ahvoli:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="mat" placeholder="Uylanganmi?" required value="{{book.mat}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="work"
                    placeholder="Ish joyi haqida ma'lumot" required value="{{book.work}}">
            </div>
        </div>
        {{!-- <h7>Farzandlar soni:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="number" class="form-control form-control-user" name="counts" placeholder="Bolalar soni?"
                    required value="{{book.counts}}">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="child"
                    placeholder="Farzandlar haqida qisqacha ma'lumot" required value="{{book.child}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="marrid" placeholder="Ayoli ism shrifi"
                    required value="{{book.marrid}}">
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="typema" placeholder="Oilaviy ahvili"
                    required value="{{book.typema}}">
            </div>
        </div>
        {{!-- <h7>Tug'ilgan sana:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="date" class="form-control form-control-user" name="yearmar" placeholder="Tug'ilgan sana"
                    required size="4" value="{{book.yearmar}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="father" placeholder="Otasi ism sharifi"
                    required  value="{{book.father}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="typef" placeholder="Oilaviy ahvili"
                    required  value="{{book.typef}}">
            </div>
        </div>
        {{!-- <h7 class="">Tug'ilgan sana:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="date" class="form-control form-control-user" name="yearfat" placeholder="Tug'ilgan sana"
                    required size="4"  value="{{book.yearfat}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="mather" placeholder="Onasi ism sharifi"
                    required  value="{{book.mather}}">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control form-control-user" name="typem" placeholder="Oilaviy ahvili"
                    required  value="{{book.typem}}">
            </div>
        </div>
        {{!-- <h7>Tug'ilgan sana:</h7> --}}
        <div class="col-lg-2">
            <div class="form-group">
                <input type="date" class="form-control form-control-user" name="yearmat" placeholder="Tug'ilgan sana"
                    required size="4"  value="{{book.yearmat}}">
            </div>
        </div>

    <div class="col-lg-12">
        {{#if book.img}}
        <div class="row">
            <div class="col-lg-4">
                <img src="/{{book.img}}" alt="" width="200px">
                <input type="file" name="img">
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <textarea name="text" id="" class="form-control form-control-user" rows="10"
                        placeholder="Kitob haqida ma`lumot">{{ironb.text}}</textarea>
                </div>
            </div>
        </div>
        {{else}}
        <div class="form-group">
            <textarea name="text" id="" class="form-control form-control-user" rows="10"
                placeholder="Kitob haqida ma`lumot">{{book.text}}</textarea>
        </div>
        {{/if}}
    </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success me-md-2 mb-3" type="submit">Kiritish</button>
    </div>
</form>



<script>
    let selects = document.querySelectorAll('select')
    selects.forEach(s => {
        const val = s.getAttribute('data-value')
        document.querySelector(`option[value='${val}']`).selected = true
    })
</script>

